html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }

.container {
	background-color: #eee;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App-2-Wrapper {
	border: 1px solid black;
}

h, p, d {
	font-family: Arial, Helvetica, sans-serif;
}
